@charset "utf-8";

@font-face {
    font-family: 'tfarrow';
    font-style:normal;
    font-weight:300;
    src:url('../fonts/TFArrow-Bold.eot'); /* IE9 Compat Modes */
    src:url('../fonts/TFArrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/TFArrow-Bold.woff2') format('woff2'), /* Modern browsers */
        url('../fonts/TFArrow-Bold.woff') format('woff'),
        url('../fonts/TFArrow-Bold.ttf') format('truetype');
}

@keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

@-moz-keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

body {
    background-color: #8B3A3A;
    color: #FEF1E1;
    font-family:'tfarrow';
    margin: 0;
    padding: 0;
}

#wrapper {
    align-items: center;
    display: flex;
    font-family:inherit;
    height: 20vh;
    justify-content: center;
    width: 100%;
}

#wrapper2 {
    align-items: center;
    display: flex;
    font-family:inherit;
    height: 66vh;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: #8B3A3A;
    color: #FEF1E1;
    cursor: pointer;
    font-family: inherit;
    font-size: 4vw;
    font-style: normal;
    font-weight: lighter;
    height: 15vh;
    width: 66vw;
}

.button:hover {
    background-color: #995757;
}

.button2 {
    background-color: #8B3A3A;
    color: #FEF1E1;
    cursor: pointer;
    font-family: inherit;
    font-size: 3vw;
    font-style: italic;
    font-weight: lighter;
    height: 10vh;
    width: 42vw;
}

.button2:hover {
    background-color: #995757;
}

.container {
    font-size: 5vw;
    margin:auto;
    position: relative;
    text-align: center;
    top: 70px;
    width: 66vw;
}

.container-small {
    font-size: 1vw;
    margin:auto;
    position: flex;
    text-align: center;
    top: 70px;
    width: 66vw;
}

.fade-in {
    animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    -webkit-animation: fadeIn ease-in 1;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
}
